html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', cursive;
}

/*navbar*/
.logo{
    height: 40px;
}
.box-element{
    box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.thumbnail{
    width: 100%;
    height: 200px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
    border-radius: 0 0 4px 4px;
}

.bg-dark{
    background-color: #4f868c!important;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
    margin-top: 10px;
}

.row{
    align-content: center;
}
/*parallax section*/
.parallax{
    min-height: 500px;
    background: transparent;
}

/*footer*/
.footer{
    text-align: center;
    background-color:rgb(43, 42, 42);
    font-family: 'Gayathri', sans-serif;
}

.iconos a{
    text-decoration: none;
    color: white;
}

/*mediaquery*/
@media (max-width: 575.98px) {
    /*tamaño h1*/
    .display-4{
        font-size: 45px;
    }
    /*parrafos sobrenosotros*/
    .contenido{
        padding-left: 20px;
    }
    /*footer*/
    .footer{
        font-size: 12px;
    }
    /*formulario*/
    .subtitulo{
        font-size: 16px;
    }
}

/*modales*/
.modales{
    font-family: 'Gayathri', sans-serif;
}

/*formulario*/

#formulario hr {
    background-color: black;
    height: 1px;
    width: 10%;
}

#listado{
    margin-bottom: 1000px;
}