{% extends 'duocmobile/main.html'%}

{% load static %}

{% block javascript %}

    <script src="{% static 'js/confirmacion.js' %}"></script>

{% endblock %}


{% block contenido %}
<div class="pb-5 pt-3 container shadow-lg" style="margin-bottom: 100vh;">
    <h2 class="pt-2 pb-4">Mis Alumnos Criticos</h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Alumno</th>
                <th scope="col">Asignatura</th>
                <th scope="col">Promedio Actual</th>
            </tr>
        </thead>
        <tbody>
            {% for n in alumnos %}
            <tr>
                <td scope="row">{{n.alumno.user.nombre}}</td>
                <td scope="row">{{n.curso.asignatura.nombre}}</td>
                <td scope="row">{{n.notas.prom|floatformat:1}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="pb-5 pt-3 container shadow-lg" style="margin-bottom: 100vh;">
    <h2>Subir Material</h2>
    <form class="container py-3" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{form.titulo}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{form.docente}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{form.archivo}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{form.curso}}
        </div>
        <div class="py-4">
            <input class="btn btn-success" type="submit" value="Agregar">
        </div> 
        
    </form>

    {{ mensaje }}
</div>

{% endblock %}