{% extends 'duocmobile/main.html'%}

{% load static %}

{% block contenido %}
<div class="pb-5 pt-3 container shadow-lg">
    <h2>Nuevo Contenido</h2>
    <form class="container py-3" action="" method="POST" enctype="multipart/form-data">
        <b>Noticia</b>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Buscar Imagen</label>
        </div>
        <div class="py-4" style="position: center;">
            <input class="btn btn-success" type="submit" value="Subir">
        </div> 
        
    </form>

    {{ mensaje }}
</div>
{% endblock %}