{% extends 'duocmobile/main.html'%}

{% load static %}

{% block contenido %}
{% if request.user.perfil.student %}
<div class="pb-5 pt-3 container shadow-lg">
    <h2 class="pt-2 pb-4">Mis Cursos</h2>
    <table class="table table-striped table-light">
    	<h4> <strong>Lunes</strong></h4>
    <thead>
      <tr>
        <th scope="col">Hora</th>
        <th scope="col">Curso</th>
        <th scope="col">Docente</th>
        <th scope="col">Sala</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td scope="row">08:30 - 10:00</td>  
          <td scope="row">Arquitectura de Software <br> AQY4101-001D</td>
          <td scope="row">Rodrigo Silva</td>
          <td scope="row">PADRE ALONSO DE OVALLE <br> SALA AO-3209</td>
        </tr>
        <tr>
          <td scope="row">10:00 - 11:30</td>  
          <td scope="row">Calidad de Software <br> CSY4101-002D</td>
          <td scope="row">Elon Musk</td>
          <td scope="row">PADRE ALONSO DE OVALLE <br> SALA AO-3212</td>
        </tr>
    </tbody>
  </table>

  <table class="table table-striped table-light">
    	<h4> <strong>Martes</strong></h4>
    <thead>
      <tr>
        <th scope="col">Hora</th>
        <th scope="col">Curso</th>
        <th scope="col">Docente</th>
        <th scope="col">Sala</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td scope="row">10:00 - 11:30</td>  
          <td scope="row">Administración de Sistemas <br> ASY4101-007D</td>
          <td scope="row">Linus Torvalds</td>
          <td scope="row">PADRE ALONSO DE OVALLE <br> SALA AO-4850</td>
        </tr>
        <tr>
          <td scope="row">14:00 - 15:30</td>  
          <td scope="row">Desarrollo Aplicaciones<br> Web y Mobile <br> DWY4101-007D</td>
          <td scope="row">Mark Zuckerberg</td>
          <td scope="row">PADRE ALONSO DE OVALLE <br> SALA AO-4850</td>
        </tr>
    </tbody>
  </table>

  <table class="table table-striped table-light">
    	<h4> <strong>Miércoles</strong></h4>
    <thead>
      <tr>
        <th scope="col">Hora</th>
        <th scope="col">Curso</th>
        <th scope="col">Docente</th>
        <th scope="col">Sala</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td scope="row"></td>  
          <td scope="row">NO REGISTRAS CLASES PARA ESTE DÍA</td>
          <td scope="row"> </td>
          <td scope="row"></td>
        </tr>
    </tbody>
  </table>

  <table class="table table-striped table-light">
    	<h4> <strong>Jueves</strong></h4>
    <thead>
      <tr>
        <th scope="col">Hora</th>
        <th scope="col">Curso</th>
        <th scope="col">Docente</th>
        <th scope="col">Sala</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td scope="row">08:30 - 10:00</td>  
          <td scope="row">Arquitectura de Software <br> AQY4101-001D</td>
          <td scope="row">Rodrigo Silva</td>
          <td scope="row">PADRE ALONSO DE OVALLE <br> SALA AO-3209</td>
        </tr>
        <tr>
          <td scope="row">10:00 - 11:30</td>  
          <td scope="row">Calidad de Software <br> CSY4101-002D</td>
          <td scope="row">Elon Musk</td>
          <td scope="row">PADRE ALONSO DE OVALLE <br> SALA AO-3212</td>
        </tr>
    </tbody>
  </table>

  <table class="table table-striped table-light">
    	<h4> <strong>Viernes</strong></h4>
    <thead>
      <tr>
        <th scope="col">Hora</th>
        <th scope="col">Curso</th>
        <th scope="col">Docente</th>
        <th scope="col">Sala</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td scope="row">10:00 - 11:30</td>  
          <td scope="row">Administración de Sistemas <br> ASY4101-007D</td>
          <td scope="row">Linus Torvalds</td>
          <td scope="row">PADRE ALONSO DE OVALLE <br> SALA AO-4850</td>
        </tr>
        <tr>
          <td scope="row">14:00 - 15:30</td>  
          <td scope="row">Desarrollo Aplicaciones<br> Web y Mobile <br> DWY4101-007D</td>
          <td scope="row">Mark Zuckerberg</td>
          <td scope="row">PADRE ALONSO DE OVALLE <br> SALA AO-4850</td>
        </tr>
    </tbody>
  </table>
</div>
{% else %}
<div class="pb-5 pt-3 container shadow-lg">
    <h2 class="pt-2 pb-4">Mis Cursos</h2>
    <table class="table table-striped table-light">
      <h4> <strong>Lunes</strong></h4>
    <thead>
      <tr>
        <th scope="col">Hora</th>
        <th scope="col">Curso</th>
        <th scope="col">Docente</th>
        <th scope="col">Sala</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td scope="row">08:30 - 10:00</td>  
          <td scope="row">Arquitectura de Software <br> AQY4101-001D</td>
          <td scope="row">{{request.user.perfil.nombre }} {{ request.user.perfil.apellido }}</td>
          <td scope="row">PADRE ALONSO DE OVALLE <br> SALA AO-3209</td>
        </tr>
    </tbody>
  </table>

  <table class="table table-striped table-light">
      <h4> <strong>Martes</strong></h4>
    <thead>
      <tr>
        <th scope="col">Hora</th>
        <th scope="col">Curso</th>
        <th scope="col">Docente</th>
        <th scope="col">Sala</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td scope="row">10:00 - 11:30</td>  
          <td scope="row">Gestión Ágil de Proyectos <br> GAY0101-007D</td>
          <td scope="row">{{request.user.perfil.nombre }} {{ request.user.perfil.apellido }}</td>
          <td scope="row">PADRE ALONSO DE OVALLE <br> SALA AO-4850</td>
        </tr>
        <tr>
          <td scope="row">14:00 - 15:30</td>  
          <td scope="row">Arquitectura de Software <br> AQY4101-001D</td>
          <td scope="row">{{request.user.perfil.nombre }} {{ request.user.perfil.apellido }}</td>
          <td scope="row">PADRE ALONSO DE OVALLE <br> SALA AO-3209</td>
        </tr>
    </tbody>
  </table>

  <table class="table table-striped table-light">
      <h4> <strong>Miércoles</strong></h4>
    <thead>
      <tr>
        <th scope="col">Hora</th>
        <th scope="col">Curso</th>
        <th scope="col">Docente</th>
        <th scope="col">Sala</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td scope="row"></td>  
          <td scope="row">NO REGISTRAS CLASES PARA ESTE DÍA</td>
          <td scope="row"> </td>
          <td scope="row"></td>
        </tr>
    </tbody>
  </table>

  <table class="table table-striped table-light">
      <h4> <strong>Jueves</strong></h4>
    <thead>
      <tr>
        <th scope="col">Hora</th>
        <th scope="col">Curso</th>
        <th scope="col">Docente</th>
        <th scope="col">Sala</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td scope="row">08:30 - 10:00</td>  
          <td scope="row">Arquitectura de Software <br> AQY4101-001D</td>
          <td scope="row">{{request.user.perfil.nombre }} {{ request.user.perfil.apellido }}</td>
          <td scope="row">PADRE ALONSO DE OVALLE <br> SALA AO-3209</td>
        </tr>
    </tbody>
  </table>

  <table class="table table-striped table-light">
      <h4> <strong>Viernes</strong></h4>
    <thead>
      <tr>
        <th scope="col">Hora</th>
        <th scope="col">Curso</th>
        <th scope="col">Docente</th>
        <th scope="col">Sala</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td scope="row">10:00 - 11:30</td>  
          <td scope="row">Gestión Ágil de Proyectos <br> GAY0101-007D</td>
          <td scope="row">{{request.user.perfil.nombre }} {{ request.user.perfil.apellido }}</td>
          <td scope="row">PADRE ALONSO DE OVALLE <br> SALA AO-4850</td>
        </tr>
        <tr>
          <td scope="row">14:00 - 15:30</td>  
          <td scope="row">Arquitectura de Software <br> AQY4101-001D</td>
          <td scope="row">{{request.user.perfil.nombre }} {{ request.user.perfil.apellido }}</td>
          <td scope="row">PADRE ALONSO DE OVALLE <br> SALA AO-3209</td>
        </tr>
    </tbody>
  </table>
</div>
{% endif %}

{% endblock %}