{% extends 'duocmobile/main.html'%}
{% load static %}
{% block contenido %}
        <h2 class="text-center pt-3">Accede a tus módulos</h2>
        <div class="row" style="width:800px; margin:0 auto;">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'img/profile.png' %}">
            <div class="box-element product">
                <h6><strong>Mi Perfil</strong></h6>
                <hr>
                <a class="btn btn-outline-success" href="{% url 'perfil' %}">Ir a Mi Perfil</a>
            </div>
        </div>
            <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'img/class.png' %}">
            <div class="box-element product">
                <h6><strong>Mis Asignaturas</strong></h6>
                <hr>
                <a class="btn btn-outline-success" href="{% url 'listado_asignaturas' %}">Ir a Mis Asignaturas</a>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'img/timetable.png' %}">
            <div class="box-element product">
                <h6><strong>Mi Horario</strong></h6>
                <hr>
                <a class="btn btn-outline-success" href="#">Ir a Mi Horario</a>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'img/marks.png' %}">
            <div class="box-element product">
                <h6><strong>Mis Notas</strong></h6>
                <hr>
                <a class="btn btn-outline-success" href="#">Ir a Mis Notas</a>
            </div>
        </div>
        </div>







    <!--Seccion parallax-->
    <div class="parallax" data-parallax="scroll" data-z-index="1" data-image-src="{% static 'img/parallax-back.jpeg' %}"></div>

{% endblock %}