{% extends 'duocmobile/main.html'%}

{% load static %}

{% block contenido %}
<div class="pb-5 pt-3 container shadow-lg">
<div class="modal-body">
  <h2><strong>Listado de Asignaturas</strong></h2>
  <table class="table table-striped table-light">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Codigo Curso</th>
        <th scope="col">Promedio Actual</th>
      </tr>
    </thead>
    <tbody>
      {% for c in criticos %}
        <tr>
          <td scope="row">{{c.curso.asignatura.nombre}}</td>  
          <td scope="row">{{c.curso.asignatura.codigo}}-{{c.curso.seccion}}</td>
          <td scope="row">{{c.notas.prom|floatformat:1}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="row" style="margin-left: 25%;">
    <div class="col-lg-4">
        <div class="box-element product">
            <h6><strong>Mis Cursos Críticos</strong></h6>
                <a data-toggle="modal" data-target="#exampleModal3" href=""><img class="thumbnail" src="{% static 'img/attention.png' %}"></a>
        </div>
    </div>
    <div class="col-lg-4">
        
        <div class="box-element product">
            <h6><strong>Material Apoyo</strong></h6>
                <a data-toggle="modal" data-target="#exampleModal" href=""><img class="thumbnail" src="{% static 'img/material-apoyo.png' %}"></a>
        </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mis Cursos Críticos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <table class="table table-striped table-light">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Codigo Curso</th>
                        <th scope="col">Promedio Actual</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for c in criticos %}
                    <tr>
                        <td scope="row">{{c.curso.asignatura.nombre}}</td>  
                        <td scope="row">{{c.curso.asignatura.codigo}}-{{c.curso.seccion}}</td>
                        <td scope="row">{{c.notas.prom|floatformat:1}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mis Cursos Críticos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <table class="table table-striped table-light">
                <thead>
                    <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Docente</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for m in material %}
                    <tr>
                        <td scope="row">{{m.titulo}}</td>
                        <td scope="row">{{m.curso}}</td>
                        <td scope="row">{{m.docente}}</td>
                        <td scope="row"><a  href="/media/{{m.archivo}}"> Descargar Documento </a></td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}