{% extends 'duocmobile/main.html'%}


{% block contenido %}

<div class="row" style="width:800px; margin:0 auto;">
    <div class="col-6">
        <h2 class="pt-2 pb-4">Bienvenido/a: {{ user.username }}</h2>
        <!-- Datos de Perfil -->
        <h2><i class="fas fa-user"></i> Mi Cuenta</h2>
        <h4>Nombre</h4>
        <p>{{ user.perfil.nombre }} {{user.perfil.apellido}}</p>
        <h4>Correo</h4>
        <p>{{ user.perfil.email}}</p>
        <h4>Tipo de usuario</h4>
        <p>{{ user.perfil.tipo}}</p>
        <!-- Datos de usuario -->
        <h4>Usuario</h4>
        <p>{{ user.username }}</p>
    </div>

    <div class="container" id="alumno-btns">
        <a class="btn btn-success" id="asignaturas" href="{% url 'listado_asignaturas'%}">Mis asignaturas</a>
        <a class="btn btn-primary" id="notas" href="{% url 'listado_notas'%}">Notas</a>
    </div>

    <div class="container" id="docente-btns">
        <a class="btn btn-success" id="cursos" href="{% url 'listado_cursos'%}">Mis Cursos</a>
        <a class="btn btn-primary" id="alumnos-criticos" href="{% url 'alumnos_criticos'%}">Mis Alumnos Críticos</a>
    </div>
</div>

<script type="text/javascript">
    // Aqui puedo implementar y decidir que usuarios podrán ver que módulos.
    var is_docente = '{{user.perfil.docente.is_docente}}'
    var is_alumno = '{{user.perfil.student.is_alumno}}'

    if (is_docente == 'True'){
        document.getElementById('alumno-btns').innerHTML = ''
    }
    else if(is_alumno == 'True'){
		document.getElementById('docente-btns').innerHTML = ''
	}else{
        document.getElementById('alumno-btns').innerHTML = ''
		document.getElementById('docente-btns').innerHTML = ''
    }
</script> 
{% endblock %}